################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.vs
*.VC.db
*.exe
*.ilk
*.pdb
*/x64/Debug
*/Debug
/Section_9/sandbox.cpp
